@use 'values' as *;

body, html{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:inherit;
}



.header, .footer, .main{
    width:100%;
    box-sizing: border-box;
}



.header{
    @include bg-color;
    height:70px;
    text-align: center;
    padding-top: 15px;
    

    &__logo{
        font-family: Shrikhand;
        height:40px;
        width:180px;
        font-size:2rem;
        
        
    }
}

.btn{
    @include button;
}

.footer{
    background-color: $bgcolor3;
    color:$bgcolor1;
    box-sizing: border-box;
    padding:50px 50px;
    .container{
    @include flex-column;
    }
    

    &__logo{
        font-family: Shrikhand;
        font-size:1.5rem;
    }
    &__list{
        list-style: none;
        padding:0;
        margin:0;
        
        &-item{
            line-height: 2rem;
            
        }
    }

    &__icon{
        width: 2rem;
        margin-right: 0.5rem;
    }
  }

