@use 'values' as *;

body, html{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:inherit;
}



.header, .footer, .main{
    width:100%;
}

.header{
    @include flex-row;
    @include centering;
    @include bg-color;
    height:70px;

    

    &__logo{
        height:40px;
        width:180px;
        background:url(../img/logo/ohmyfood@2x.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.btn{
    @include button;
}

.footer{
    background-color: $bgcolor3;
    color:$bgcolor1;
    box-sizing: border-box;
    padding:5% 5%;
    .container{
    @include flex-column;
    }
    

    &__logo{
        font-family: Shrikhand;
        font-size:1.5rem;
    }
    &__list{
        list-style: none;
        padding:0;
        margin:0;
        
        &-item{
            line-height: 2rem;
            
        }
    }

    &__icon{
        width: 2rem;
        margin-right: 0.5rem;
    }
  }

