@use 'values' as *;


.loader{
    display:flex;
    @include centering;
    position:fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background-color: white;
    z-index:10;
    animation:loading 1.5s;
    animation-delay:1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    opacity:0;

    &__logo{
        position:absolute;
        @include centering;
        font-family:Shrikhand ;
        font-size:3rem;
    }

    
}

.spinner {
    animation: rotator $duration linear infinite;
    width:40%;
    height:40%;
    overflow: visible;
    
  }
  
  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    fill:none;
    stroke-width:3;
    stroke-linecap:round;
    transform-origin: center;
    
    

    &--1{
        animation:
        dash $duration ease-in-out infinite, 
        colors ($duration) ease-in-out infinite;
    }
      
      &--2{
        animation:
        dash ($duration) ease-in-out infinite, 
        colors ($duration*2) ease-in-out infinite;
      }
  }
  
  

@media (max-width: 500px) {
    .spinner{
        width:70%;
        height:70%;
    }
}

@media (max-width: 768px) {
    .loader{
        &__logo{
            font-size: 2.1rem;
        }
    }
}

@media (max-width: 300px) {
    .loader{
        &__logo{
            font-size: 1.8rem;
        }
    }
}







.geolocal{
    @include flex-row;
    height:50px;
    @include bg-color($bgcolor-geolocal);
    @include centering;
    justify-content: center;

    &__icon{
        margin:0 10px;
    }

    &__form{
        display:flex;
        justify-content:center;
    }

    &__input{
        background-color: $bgcolor-geolocal;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        width:60%;
        white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

        &:focus{
            outline:none;
        }
    }

}

.heading{
    @include flex-column;
    @include bg-color($bgcolor2);
    @include centering;
    box-sizing: border-box;
    width:100%;
    padding-bottom:2rem;

}

.how-to{
    padding:0 1rem;


    &__steps{
    @include flex-column;
    align-items: center;
    list-style: none;
    counter-reset:steps-style;

    }

    &__steps{
        margin-left:0;
        padding:0 2rem;
    }

    &__step{
        @include flex-row;
        align-items: center;
        counter-increment: steps-style;
        height:80px;
        width:100%;
        max-width:325px;
        border-radius: 25px;
        background-color: $bgcolor2;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
        margin-bottom:25px;

    }

    &__step::before{
        content:counter(steps-style);
        display:inline-block;
        background:$bgcolor4;
        @include centering;
        color:white;
        width:2.2rem;
        height:2rem;
        border-radius:50%;
        line-height:2rem;
        margin-right:1.5rem;
        margin-left:-1rem;
    }

    &__step:last-child{
        background-color: $bgcolor5;

        & .how-to__icon{
            color:$bgcolor4;
        }
    }


    &__icon{
        @extend %steps-text;
        color:$fontcolor--icon1;
    }


    &__text{
        @extend %steps-text;
        width:80%;
    }

}

@media (min-width: 1250px) {

    .how-to{
        padding:0rem;
        width:1200px;
        margin:0 auto;
        box-sizing: border-box;
    
        &__steps{
        @include flex-row;
        justify-content: space-evenly;
        padding:0;
        }
    
        &__steps{
            margin-left:0;
        }
    
        &__step{
           
            height:80px;
            width:325px;
        }
    
    }

}

@media (min-width: 1100px) {
    .how-to{
    
        &__steps{
        @include flex-row;
        justify-content: space-evenly;
        padding:0;
        }
    }
}

%steps-text{
    margin-right:5%;
    font-size: 1.2rem;
    font-weight: 500;
}

.restaurants{
    width:100%;
    padding:1rem;
    background-color:$bgcolor2;
    box-sizing: border-box;
}

.thumbnails{
    width:100%;
    box-sizing: border-box;
    @include grid(1, 100%, 4, 255px, 20px, 0);
}

@media (min-width: 1250px) {
    .restaurants {
        padding:1rem 0 3rem 0;
        
    & .container{
        width: 1200px;
        box-sizing: border-box;
        padding:0;
        margin:0 auto;
    }
}

    .thumbnails{
    @include grid(2, 47.5%, 2, 255px, 50px, 5%);
    }
}

.thumbnail{
    @include flex-column;
    box-sizing: border-box;
    width:100%;
    height:100%;
    background-color:$bgcolor1;
    margin-bottom:200px;
    border-radius: 20px;
    overflow: hidden;
    position:relative;
    box-shadow:  0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.2s;

    &:hover{
        box-shadow:  0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
    }
    

    & *{
        margin:0;
    }

    &__img{
        height:175px;
        width:100%;
        object-fit: cover;


        &--link{
            width:100%;
            height:175px;
        }
    }

    &__footer{
        @include flex-row;
        padding:20px 15px;
    }

    &__content{
        width:90%;
    }

    &__new{
        position:absolute;
        padding:0.5rem;
        z-index:2;
        background-color:$bgcolor-validate;
        color: $fontcolor--new;
        display:block;
        top:1rem;
        right:1rem;
        font-weight: bold;
        border-radius: 0.2rem;
    }

    &__btn{
        position:relative;
        height: 2rem;
        width: 2rem;
        background-color: black;
        cursor:pointer;
        overflow: hidden;

        &::before{
            height: 100%;
            width: 100%;
            position: absolute;
            content: "";
            top: 2rem;
            left: 0;
            background:$gradient;
            opacity: 1;
            transition: 1s;
        }

        &:hover::before{
            opacity:1;
            top:0rem;
        }

        &-like{
            width:100%;
            height:100%;
            position:absolute;
            font-size:2rem;
            top:0;
            left:0;
            background-color:white;
            mix-blend-mode:lighten;
            transition-duration: 1s;
        }   
    }

    &__btn:hover{
        
        .thumbnail__btn-like--empty{
            opacity:0;
        }

    }
    
}

.restaurant__like{
    background-color:$bgcolor2;
}