@use 'values' as *;

.header{
    &--back{
        position: relative;

    }
    &__backbtn{
        position:absolute;
        left:2rem;
        top:1.5rem;
        font-size:1.5rem;

    }
}

.restaurant__header{
    width:100%;
    object-fit: cover;
    z-index:1;
    max-height:330px;
}

.menu{
    background-color: $bgcolor2;
    z-index:1;
    position:relative;
    margin-top:-1rem;
    padding:1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: visible;

    &__header{
        font-family:Shrikhand;
        @include flex-row;
        align-items: center;
    }
    &__title{
        width:90%;
        letter-spacing: .1rem;
    }

    &-sections{
        @include flex-column;
    }

    &-section{
        width:100%;
        box-sizing: border-box;
        overflow:hidden;
        


        &__title{
            font-weight: lighter;
            text-transform: uppercase;
            position:relative;
            padding-bottom:0.5rem;

            &:before{
                content: "";
                width: 3rem;
                height: 0.25rem;
                background-color: $bgcolor-validate;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        
    }

    &-item{
        display: flex;
        background-color: white;
        padding: 1rem;
        border-radius: 0.75rem;
        margin: 1rem auto;
        box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
        overflow: hidden;
        cursor: pointer;
        max-width: 95%;
        box-sizing: border-box;
        animation:menu_appear 1.5s;
        animation-fill-mode:both;
        animation-timing-function: cubic-bezier(.1,.5,.75,1);


            
        
        
        
        &:hover{
            box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.4);
            
        }

        &__description{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-grow:1;

        }

        &__title, &__subtitle {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }



        &__price{
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            
        }

        
        &__confirm{
            width: 4rem;
            display:flex;
            align-items:center;
            flex-shrink: 0;
            justify-content:center;
            background-color:$bgcolor-validate;
            margin: -1rem -5rem -1rem 1rem;
            transition-duration: 0.5s;
        }

        &:hover &__confirm {
            margin-right: -1rem;
          }


        &__checkmark{
            background-color:$bgcolor1;
            font-size: 1.5rem;
            height:2rem;
            width:2rem;
            border-radius: 50%;
            margin:0 auto;
            @include centering;
            transform: rotate(360deg);
            transition-duration: 0.75s;   
        }

        &:hover &__checkmark {
            transform: rotate(0);
          }

        &__icon{
            color:$bgcolor-validate;
            height:100%;
            width:100%;
        }
    }
}


@media (min-width: 1200px) {
    .menu{
        width:1200px;
        margin:-3rem auto 0 auto;
        padding:1rem;
        box-sizing: border-box;

        &-sections{
            @include flex-row;
            justify-content: space-between;
        }

        &-section{
            width:33%;
            padding:0;
        }
    }
}

.command{
    width:100%;
    height:auto;
    margin:35px 0;

    &__btn{
        @include button;
        display:block;
        width:240px;
        margin:0 auto;
        
    }
}

@for $i from 1 to 11 {
    .delay-#{$i} {
        animation-delay: $i * 0.2s;
     }
  }


  .section-items_number--3{
      height:330px;
  }
  .section-items_number--4{
    height:420px;
}
