@use 'values' as *;

.header{
    &--back{
        position: relative;

    }
    &__backbtn{
        position:absolute;
        left:2rem;
        top:1.5rem;
        font-size:1.5rem;

    }
}

.restaurant__header{
    width:100%;
    object-fit: cover;
    z-index:1;
}

.menu{
    background-color: $bgcolor2;
    z-index:1;
    position:relative;
    margin-top:-50px;
    padding:10px 5%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;


    &__header{
        font-family:Shrikhand;
        @include flex-row;
        align-items: center;
    }
    &__title{
        width:90%;
        letter-spacing: .1rem;
    }

    &-sections{
        @include flex-column;
    }

    &-section{
        @include flex-column;

        &__title{
            font-weight: lighter;
            text-transform: uppercase;
            position:relative;
            padding-bottom:2%;

            &:before{
                content: "";
                width: 3rem;
                height: 0.25rem;
                background-color: $bgcolor-validate;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        
    }

    &-item{
        @include flex-row;
        align-items: center;
        width:100%;
        height:75px;
        background-color:$bgcolor1 ;
        margin-bottom:5%;
        border-radius: 20px;
        padding:0 0 0 5%;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow:0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25); ;

        &__description{
            width:65%;
            margin-right:5%;
            @include flex-column;
            white-space: nowrap;
           

        }

        & p, h4{
            margin:0;
            height:50%;
            width:100%;
            overflow: hidden;
            text-overflow: ellipsis;
            resize: none;
        }
        &__price{
            width:10%;
        }
        &__confirm{
            display:flex;
            width:20%;
            height:100%;
            background-color:$bgcolor-validate;
            @include centering;
            
        }
        &__checkmark{
            background-color:$bgcolor1;
            font-size: 1.5em;
            height:30px;
            width:30px;
            border-radius: 50%;
            margin:0 auto;
            align-items: center;
            
        }
        &__icon{
            color:$bgcolor-validate;
        }
    }
}

.command{
    width:100%;
    height:auto;
    margin:10% 0;

    &__btn{
        @include button;
        display:block;
        width:50%;
        margin:0 auto;
        
    }
}