@use "sass:color";

$gradient: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$bgcolor1:#fff;
$bgcolor2:#f6f6f6;
$bgcolor3:#353535;
$bgcolor4:#9356dc;
$bgcolor5:#f5edff;
$bgcolor-geolocal:#eaeaea;
$bgcolor-button:#f5edff;
$bgcolor-validate:#99e2d0;
$fontcolor--new:#008766;
$fontcolor--icon1:#7e7e7e;



@mixin bg-color($colour:$bgcolor1){
    background-color: $colour;
}

@mixin flex-row{
    display:flex;
    flex-direction: row;
}

@mixin flex-column{
    display:flex;
    flex-direction: column;
}

@mixin centering{
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin button{
    position:relative;
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-align:center;
    border-radius: 100px;
    color: white;
    background-color: rgb(100,100,100);
    background: linear-gradient(0deg, rgba(147,86,220,0.9) 0%, rgba(255,121,218,0.9) 100%);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    z-index: 1;

    &::after{
        background-color: white;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition-duration: 0.25s;
        border-radius: 100px;
    }

  &:hover {
      &::after {
    opacity:0.2;
      }
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  
}
}


@mixin grid($number-column, $width-column, $number-row, $width-row, $row-gap, $column-gap){
    display:grid;
    grid-template-columns:repeat($number-column, $width-column);
    grid-template-rows: repeat($number-row, $width-row);
    row-gap:$row-gap;
    column-gap:$column-gap;
}