body, html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header, .footer, .main {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #fff;
  height: 70px;
}
.header__logo {
  height: 40px;
  width: 180px;
  background: url(../img/logo/ohmyfood@2x.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #646464;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.footer, .restaurants {
  display: none;
}

.geolocal {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #eaeaea;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.geolocal__icon {
  margin-right: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10% 5% 10%;
}

.how-to {
  padding: 0 5%;
}
.how-to__steps {
  display: flex;
  flex-direction: column;
  list-style: none;
  counter-reset: steps-style;
}
.how-to__steps {
  margin-left: 0;
}
.how-to__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  counter-increment: steps-style;
  height: 80px;
  width: 325px;
  border-radius: 25px;
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}
.how-to__step::before {
  content: counter(steps-style);
  display: inline-block;
  background: #9356dc;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  text-align: center;
  line-height: 2rem;
  margin-right: 5%;
}
.how-to__step:last-child {
  background-color: #f5edff;
}
.how-to__step:last-child .how-to__icon {
  color: #9356dc;
}
.how-to__icon {
  color: #7e7e7e;
}
.how-to__text {
  width: 80%;
}

.how-to__icon, .how-to__text {
  margin-right: 5%;
  font-size: 1.2rem;
  font-weight: 500;
}